{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>A Python Full-Stack developer with Djnago and Flask</p>
        <p>This blog was created using Flask frame work simple structure compared to Django</p>
        <p>Learning new thing by creating random thing.</p>
        <p>See my other works in my GitHub, link in the footer.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
